process {
    withName: PROKKA {
        conda = null
    }
    withName: EGGNOGMAPPER {
        conda = null
    }
    withName: PANAROO_RUN {
        conda = null
    }
    withName: GUBBINS {
        conda = null
    }
    withName: SNPSITES {
        conda = null
    }
    withName: IQTREE {
        conda = null
    }
    withName: PPANGGOLIN_RUN {
        conda = null
    }
}
