process {
    withName: PROKKA {
        cpus       = 6
        memory     = 12.GB
        ext.args   = { "--kingdom Bacteria --genus ${params.genus} --locustag ${meta.id} --outdir ${meta.id} --compliant" }
        publishDir = [ path: { "${params.outdir}/${meta.id}/Prokka" }, mode: 'copy' ]
    }
    withName: EGGNOG {
        cpus       = 15
        memory     = 55.GB
        publishDir = [ path: { "${params.outdir}/${meta.id}/Eggnog" }, mode: 'copy' ]
    }
}
