process {
    withName: PROKKA {
        cpus       = 6
        memory     = 12.GB
        ext.args   = { "--kingdom Bacteria --genus ${params.genus} --locustag ${meta.id} --outdir ${meta.id} --compliant" }
        publishDir = [ path: { "${params.outdir}/${meta.id}/Prokka" }, mode: 'copy' ]
    }
    withName: EGGNOGMAPPER {
        cpus       = 12
        memory     = 55.GB
        publishDir = [ path: { "${params.outdir}/${meta.id}/Eggnog" }, mode: 'copy' ]
    }
    withName: PANAROO_RUN {
        tag        = "${params.genus}"
        cpus       = 6
        ext.args   = "--clean-mode strict -a core --aligner mafft"
        publishDir = [ path: { "${params.outdir}/Panaroo" }, mode: 'copy' ]
    }
    withName: PLOTS_PANAROO {
        tag        = "${params.genus}"
        publishDir = [ path: { "${params.outdir}/Plots" }, mode: 'copy' ]
    }
    withName: GUBBINS {
        tag        = "${params.genus}"
        cpus       = 6
        ext.args   = "-p gubbins"
        publishDir = [ path: { "${params.outdir}/Gubbins" }, mode: 'copy' ]
    }
    withName: SNPSITES {
        tag        = "${params.genus}"
        cpus       = 6
        publishDir = [ path: { "${params.outdir}/Snpsites" }, mode: 'copy' ]
    }
    withName: IQTREE {
        tag        = "${params.genus}"
        cpus       = 6
        ext.args   = "-B 1000"
        ext.prefix = "tree_clean_ST"
        publishDir = [ path: { "${params.outdir}/Iqtree" }, mode: 'copy' ]
    }
}
